<!DOCTYPE html>
<html>
<head>
    <%- include('template/header'); %>
    <meta charset="utf-8">
    <title>首页</title>
    <link href="/css/index.css" type="text/css" rel="stylesheet"></link>
    
</head>
<style >
#markdown_parse_preview{
    border-left:0;
}
</style>
<body >
    <div class="header">
        <a class="tag" href="/papers">Paper</a>
    </div>
    <ul class="list">
    <% for(i in list) {%>
        <li class="cell"><a href="/t/<%= list[i].topic_id %>"><%= list[i].title %></a></li>
    <% } %>
    </ul>
</body>
</html>

