<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>首页</title>
</head>
<style >
#markdown_parse_preview{
    border-left:0;
}
</style>
<body >
    <div>
        <a href="/papers">Paper</a>
    </div>
    <ul>
    <% for(i in list) {%>
        <li><a href="/t/<%= list[i].topic_id %>"><%= list[i].title %></a></li>
    <% } %>
    </ul>
</body>
</html>

