<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link href="/css/pojoaque.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/index.css" type="text/css" rel="stylesheet"></link>
    <title><%= title %></title>
</head>
<style >

</style>
<body >
    <div id="markdown_parse_preview">
<h1 class="title"><%= title %></h1>
<div class="content">
    <%- content %>
</div>
</div>

</body>
</html>