<!DOCTYPE html>
<html>
<head>
    <%- include('template/header'); %>
    <meta charset="utf-8">
    <link href="/css/pojoaque.css" type="text/css" rel="stylesheet"></link>
    <link href="/css/topic.css?t=22" type="text/css" rel="stylesheet"></link>
    <title><%= title %></title>
</head>
<style >
#markdown_parse_preview{
    border-left:0;
}
</style>
<body >
    <div id="markdown_parse_preview">
<h1 class="title"><%= title %></h1>
<div class="content">
    <%- content %>
</div>
</div>

</body>
</html>