#markdown_parse_preview {
    padding: 0 20px;
    border-left: 1px solid #c5c5c5;
    background-color: #fffbf7;
    height: 100%;
    overflow-y: auto;
    font-size: 18px;
    font-family: "Microsoft Yahei";
}
#markdown_parse_preview a {
    color: #0ccae2;
}
#markdown_parse_preview code {
    background-color: #3f3f3f;
    color: #f0efd0;
    font-weight: 600;
    padding: 0 2px;
}
#markdown_parse_preview pre code {
    display: block;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #333;
    color:white;
    border-radius: 2px;
}
#markdown_parse_preview p {
    margin: 0;
    margin-bottom: 24px;
    text-indent: 30px;
}