#markdown_parse_preview {
    padding: 0 20px;
    border-left: 1px solid #c5c5c5;
    background-color: #ffffff;
    height: 100%;
    overflow-y: auto;
    font-size: 18px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif,Microsoft Yahei;
}
#markdown_parse_preview a {
    color: #0ccae2;
}
#markdown_parse_preview code {
    background-color: #87a5b3;
    color: #ffffff;
    font-weight: 600;
    padding: 3px 2px;
    border-radius: 2px;
}
tt, code, kbd, samp{
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif,Microsoft Yahei;
}
#markdown_parse_preview pre code {
    display: block;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #464646;
    color: #fff;
    border-radius: 2px;
}
#markdown_parse_preview p {
    margin: 0;
    margin-bottom: 14px;
    line-height: 24px;
}
#markdown_parse_preview ul{
    margin-before: 1em;
    margin-after: 1em;
    margin: 10px 40px;
    margin-top: 0;
}
#markdown_parse_preview li{list-style: initial;}
#markdown_parse_preview blockquote {
    display: block;
    margin: 5px;
    padding: 15px 5px;
    background-color: #eef8ff;
    color: #2b2b2b;
    border-left: 5px solid #60beff;
    margin-bottom: 20px;
    margin-top: 20px;
}
#markdown_parse_preview  blockquote p{
    margin-bottom: 0;
}