#markdown_parse_preview {
    padding: 0 20px;
    border-left: 1px solid #c5c5c5;
    background-color: #fffbf7;
    height: 100%;
    overflow-y: auto;
    font-size: 18px;
    font-family: "Microsoft Yahei";
}
#markdown_parse_preview a {
    color: #0ccae2;
}
#markdown_parse_preview code {
    background-color: #3f3f3f;
    color: #f0efd0;
    font-weight: 600;
    padding: 0 2px;
}
#markdown_parse_preview pre code {
    display: block;
    padding: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #333;
    color:white;
    border-radius: 2px;
}
#markdown_parse_preview p {
    margin: 0;
    margin-bottom: 24px;
    /*text-indent: 30px;*/
}
#markdown_parse_preview ul{
    margin-before: 1em;
    margin-after: 1em;
    margin: 10px 40px;
    margin-top: 0;
}
#markdown_parse_preview li{list-style: initial;}
#markdown_parse_preview blockquote {
    display: block;
    margin: 5px;
    padding: 15px 5px;
    background-color: #eef8ff;
    color: #2b2b2b;
    border-left: 5px solid #60beff;
}
#markdown_parse_preview  blockquote p{
    margin-bottom: 0;
}