.side_view {
    width: 15%;
    height: 100%;
    background-color: #333;
    float: left;
    text-align: left;
    padding: 0 10px;
}
.side_view a {
    color: white;
}
.write_article_wrap {
        height: 100%;
    width: 100%;
}

div#app {
    height: 100%;
    margin-top: 0;
}

body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
}
.content {
    float: left;
    width: 83%;
    height: 100%;
    /* border: 3px solid #ff0101; */
    /* padding: 6px; */
    overflow: hidden;
    /* margin: 5px; */
    display: block;
    background-color: #333;
}

textarea {
    width: 100%;
    min-height: 100%;
    /* padding: 0px; */
    /* border: 3px solid #333; */
    /* padding-left: 00; */
    /* margin-left: 10px; */
    border: 0;
    padding: 0;
    padding: 10px;
    /* margin: 10px; */
    padding: 50px;
    display: block;
}
textarea {
        /* padding: 10px; */
    /* font-size: 18px; */
}
textarea {
    width: 100%;
    height: 100%;
    padding: 40px 40px 0;
    margin-bottom: 0;
    resize: none;
    color: #2f2f2f;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    -webkit-appearance: none;
    box-sizing: border-box;
}